body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;

    background-color: #ddd;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button {
    margin: revert;
    padding: revert;
}

#errors {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f99;
    border: 1px solid #922;
}

#errors p {
    padding: 1ex 1em;
}

#errors button {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

#genome-list {
    overflow: scroll;
    align-self: stretch;
    flex-basis: 50%;
}

#genome-list .initial,
#genome-list .history,
#genome-list .final {
    padding-left: 2.5em;
}

#genome-list .initial {
    border-bottom: 1px dashed black;
}

#genome-list .history {
    background-color: #eee;
}

#genome-list .final {
    border-top: 1px dashed black;
}

.genome.locked {
    cursor: text
}

.genome .codon {
    display: inline-block;
    margin: 5px;
    border: 1px solid black;

    background-color: white;
}

.genome .codon>ol {
    display: flex;
}

.genome .codon .amino-acid {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

.genome .nucleotide {
    display: inline-flex;
    height: 32px;
    width: 32px;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.genome .nucleotide span {
    display: inline-flex;
    height: 32px;
    width: 32px;
    justify-content: space-around;
    align-items: center;
}

#instructions {
    padding: 1ex;
    overflow: scroll;
    flex-basis: 50%;

    background-color: #ddd;

    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

#instructions ol,
#instructions ul {
    padding-left: 2.5em;
}

#instructions .step {
    padding: 5px;
}

#instructions .step {
    display: none;
}

#instructions .current {
    background-color: yellow;
}

#instructions .step.current {
    display: list-item;
}

#print-results.step.current {
    display: block;
}

#die {
    display: block;
    float: right;
    padding: 2ex;

    background-color: #fde;
    border: 1px solid #aaa;
}

#die .value {
    text-align: center;
    padding-bottom: 1ex;
}

#nucleotide-selector {
    position: relative;
    display: flex;
    white-space: nowrap;
    background-color: ivory;
    border: 1px solid black;
}

#nucleotide-selector,
.genome:not(.locked) {
    cursor: pointer;
}

#nucleotide-selector li {
    display: inline-flex;
    height: 32px;
    width: 32px;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}

#nucleotide-selector li:hover,
.genome:not(.locked) .nucleotide:hover {
    background-color: orange;
}

#amino-acid-selector {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);

    background-color: ivory;
    border: 1px solid black;
    cursor: pointer;
}

#amino-acid-selector p {
    padding: 10px;

    border-bottom: 1px dashed black;
}

#amino-acid-selector .codon {
    font-weight: bold;
}

#amino-acid-selector ul {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    list-style-type: none;
    white-space: nowrap;
}

#amino-acid-selector li {
    display: flex-inline;

    height: 3ex;
    width: 3em;

    text-align: center;
}

#amino-acid-selector li:hover {
    background-color: orange;
}

.genome .nucleotide.selected,
.genome:not(.locked) .nucleotide.selected:hover {
    background-color: red;
}

#lethality-selector {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    background-color: ivory;
    border: 1px solid black;
}
