* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: white;
}

#instructions {
    display: none;
}

#die {
    display: none;
}

#errors {
    display: none;
}

#nucleotide-selector {
    display: none;
}

#genome-list {
    width: 100%;
}

#genome-list .initial,
#genome-list .history,
#genome-list .final {
    padding-left: 2.5em;
}

#genome-list .initial {
    border-bottom: 1px dashed black;
}

#genome-list .final {
    border-top: 1px dashed black;
}

.genome {
    display: inline-flex;
    flex-wrap: wrap;
}

.genome .codon {
    display: inline-block;
    margin: 0.5ex;
    border: 1px solid black;
}

.genome .codon .amino-acid {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

.genome .nucleotide {
    display: inline-flex;
    height: 2em;
    width: 2em;
    justify-content: space-around;
    align-items: center;
}

.genome .nucleotide.selected {
    border: 2px solid black;
}
