body {
    flex-direction: row-reverse;
}

#instructions {
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 1px;
    flex-basis: 40%
}

#instructions .step {
    display: list-item;
}

#print-results.step {
    display: block;
}

#genome-history {
    flex-grow: 4;
}
